<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link active" routerLink="databinding">Databinding</a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" routerLink="directives">Directives</a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" routerLink="template-form">Template-Form</a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" routerLink="reactive-form">Reactive-Form</a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" routerLink="service">Services</a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" routerLink="api-crud">Api-crud</a>
        </li>
      </ul>
  </div>

</nav>

<div class="container">
<router-outlet></router-outlet>
</div>




